[flake8]
max-line-length=120

ignore=D10, # Missing docstrings
       WPS305, # Forbid f strings.
       WPS306, # Forbid writing classes without base classes.
       WPS421, # Forbid calling some built-in functions.
       WPS221, # Forbid complex lines.
       WPS111, # Forbid short variable or module names.
       WPS210, # Forbid too many local variables in the unit of code.
       WPS211, # Forbid too many arguments for a function or method.
       WPS226, # Forbid the overuse of string constants.

exclude=venv,

allowed-domain-names=variable,

